<mat-spinner *ngIf="!isPageReady" class="loading"></mat-spinner>

<div class="images" *ngIf="isPageReady">
  <div>
    Public
  </div>

  <mat-card>
    <div class="gallery-images">
      <div class="gallery-image" *ngFor="let image of images.public">
        <a [routerLink]="['/image', image.u_id]">
          <figure class="image is-128x128">
            <img [src]="makeImageUrl(image.u_id)" [alt]=image.alt>
            <span class="image-text">{{image.name}}</span>
          </figure>
        </a>
      </div>
    </div>
  </mat-card>

  <div>
    Private
  </div>
  <mat-card>
    <div class="gallery-images">
      <div class="gallery-image" *ngFor="let image of images.private">
        <a [routerLink]="['/image', image.u_id]" class="image 128x128">
          <figure class="image is-128x128">
            <img [src]="makeImageUrl(image.u_id)" [alt]=image.alt>
            <span class="image-text">{{image.name}}</span>
          </figure>
        </a>
      </div>
    </div>
  </mat-card>

  <button mat-fab class="add-btn" (click)="openImageUploader()">
    <mat-icon>add</mat-icon>
  </button>

</div>