<mat-spinner *ngIf="!isPageReady" class="loading"></mat-spinner>

<div class="images" *ngIf="isPageReady">
  <div class="container">

    <mat-card>
      <div class="title">
        <h1 class="is-size-4" i18n="@@image-public">Herkese Açık</h1>
      </div>
      <hr>

      <div class="columns is-multiline">
        <div class="column is-2-desktop is-one-quarter-tablet" *ngFor="let image of images.public">
          <a [routerLink]="['/image', image.u_id]">
            <div class="card">
              <div class="card-image">
                <figure class="">
                  <img [src]="makeImageUrl(image.u_id)" [alt]=image.alt>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-6">{{image.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <div class="title">
        <h1 class="is-size-4" i18n="@@image-private">Özel</h1>
      </div>
      <hr>

      <div class="columns is-multiline">
        <div class="column is-2-desktop is-one-quarter-tablet" *ngFor="let image of images.private">
          <a [routerLink]="['/image', image.u_id]">
            <div class="card">
              <div class="card-image">
                <figure class="">
                  <img [src]="makeImageUrl(image.u_id)" [alt]=image.alt>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-6">{{image.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </mat-card>

    <button mat-fab class="add-btn" (click)="openImageUploader()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>