<div class="">

  <div mat-dialog-title>

    <h3 class="header-text">Resim Yükle</h3>

  </div>

  <mat-dialog-content>

    <form #f="ngForm" (ngSubmit)="uploadImage(f)">

      <img src="" id="image">

      <input type="file" #file style="display: none" (change)="showImage('image')" ngModel name="image">

      <div class="field">

        <button mat-button (click)="file.click()" type="button" [disabled]="!!data">Resim Yükle</button>

      </div>

      <div class="field" *ngIf="uploading">

        <mat-progress-bar
          [mode]="mode"
          [value]="length">
      </mat-progress-bar>

      </div>

      <div class="field">

        <mat-form-field>
          <input matInput type="text" placeholder="Resim İsmi" ngModel name="name">
        </mat-form-field>

      </div>

      <div class="field">

        <mat-form-field>
          <input matInput type="text" placeholder="Resim Alt İsmi" ngModel name="alt">
        </mat-form-field>

      </div>

      <div class="field">
        <mat-checkbox ngModel name="public">Public</mat-checkbox>
      </div>

      <button type="submit" #submit style="display: none"></button>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close>İptal</button>

    <button mat-raised-button (click)="submit.click()">Kaydet</button>

  </mat-dialog-actions>

</div>
