<div class="">

  <div mat-dialog-title>

    <h3 class="header-text" i18n="@@image-add-upload-image">Resim Yükle</h3>

  </div>

  <mat-dialog-content>

    <form #f="ngForm" (ngSubmit)="uploadImage(f)">

      <img src="" id="image">

      <input type="file" #file style="display: none" (change)="showImage('image')" ngModel name="image">

      <div class="field">
        <button mat-button (click)="file.click()" type="button" [disabled]="!!data" i18n="@@image-add-upload-image">Resim
          Yükle</button>
      </div>

      <div class="field" *ngIf="uploading">
        <mat-progress-bar [mode]="mode" [value]="length"></mat-progress-bar>
      </div>

      <div class="field">

        <mat-form-field>
          <input matInput i18n-placeholder="@@image-add-image-name" type="text" placeholder="Resim İsmi" ngModel name="name" required>
        </mat-form-field>

      </div>

      <div class="field">

        <mat-form-field>
          <input matInput i18n-placeholder="@@image-add-image-alt" type="text" placeholder="Resim Alt İsmi" ngModel name="alt">
        </mat-form-field>

      </div>

      <div class="field">
        <mat-checkbox ngModel name="public" i18n="@@image-public">Herkese Açık</mat-checkbox>
      </div>

      <button type="submit" #submit style="display: none"></button>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close i18n="@@cancel">İptal</button>

    <button mat-raised-button (click)="submit.click()" i18n="@@save" [disabled]="!f.valid">Kaydet</button>

  </mat-dialog-actions>

</div>